$card-bottom-color: #f9f9f9;
/* $card-top-color: #ffed95; */
$font-color: #404040;

.blog-card {
  box-shadow: 0 20px 20px rgba(0,0,0,.07);
  transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  a {
    color: $font-color;
    text-decoration: none;
  }
  .blog-card-top {
    /* background: $card-top-color; */
    color: #404040;
    width: 100%;
    height: 180px;
    display:flex;
    align-items:center;
    justify-content:center;

  }
  .blog-card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    background: $card-bottom-color;
    width:100%;
    height: 125px;
    margin-bottom: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    .blog-top-p {
      font-size: 1rem;
      text-align: center;
    }
    .blog-bottom-p {
      font-size: 0.5rem;
      text-align: center;
    }
  }
}
.blog-card:hover {
  box-shadow: 0 30px 30px rgba(0,0,0,.12);
  transform: translate(0,-5px);
  transition-delay: 0s !important;
}


@media only screen and (max-width: 769px){
  .container {
    width: 960px;
    max-width: 100%;
  }
  .outside-img {
    flex-direction: column;
  }
  .inside-img {
    width: 100%;
  }
  .menu-item {
    padding-left: 0;
  }
}
