$left-color: #2994B2;
$right-color: #FCE38A;
$font-color: #999999;
$belief-color: #f2f4f8;


.board {
  margin-top:30px;
  padding: 60px 120px;
  background-color: #f8e1ca;
  .board-img{
    width: 100%;
    height: 450px;
    background-color: #c3e4b7;
  }
}

.class-title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  color: $font-color;
}

.row-about {
  position: relative;
  .belief-space {
    position: absolute;
    height: 350px;
    width: 100%;
    z-index: -1;
    background: $belief-color;
  }
  .belief-space-left {
    position: absolute;
    height: 350px;
    width:100%;
    z-index: 0;
  }
  .belief-space-right {
    position: absolute;
    height: 350px;
    width: 100%;
    z-index: 0;
    .belief-dat {

    }
  }
  .belief-slogan {
    position: absolute;
    font-size: 2rem;
    z-index: 1;
  }
}
