$top-color: #fefefe;
$font-color: #404040;

header {
  background-color: $top-color;
  color: $font-color;
}

.site-title {
  padding-top: 60px;
  font-size: 1.25rem;
  a {
    text-decoration: none;
    color: $font-color;
    /* transition: height 1s; */
  }
}

.outside-img {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 54px;
  width: 100%;
  height: 450px;
  background-color: #fff2d4;
  z-index: 0;
}

.inside-img {
  width: 70%;
  height: 450px;
  background-image: url("../../../../static/images/own.jpg");
  background-position: center;
  opacity: 0.8;
  z-index: 0;
}

.menu-item {
  padding-top: 10px;
  padding-left: 0;
  list-style: none;
  li {
    display: inline;
    padding: 0.7rem 1rem;
  }
  a {
    color: $font-color;
    width: auto;
    display: inline-block;
    transition: color 0.4s ease;
    transition: all 0.4s ease;
    }
    a::after {
    content: "";
    display: block;
    height: 12px;
    background: #D0F0F7;
    margin-top: -8px;
    margin-left: -3px;
    margin-right: -3px;
    transition: all 0.4s ease;
    }
    a:hover {
    transition: all 0.4s ease;
    }
    a:hover::after {
    height: 24px;
    margin-top: -20px;
    transition: color 0.4s ease;
    transition: all 0.4s ease;
  }
}

.slogan {
  margin-top: -120px;
  font-size: 3.5rem;
  z-index: 1;
}

/* .hi {
  font-size: 14pt;
  color: $test;
} */

@media only screen and (max-width: 769px){
  .container {
    width: 970px !important;
  }
  .slogan {
    margin-top:30px;
  }
}


@media only screen and (max-width: 426px){
  .container {
    width: 960px;
    max-width: 100%;
  }
  .outside-img {
    flex-direction: column;
  }
  .inside-img {
    width: 100%;
  }
  .menu-item {
    padding-left: 0;
  }
}
